%nav.navbar.navbar-default.navbar-fixed-top{:role => 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{:type => 'button', :data => {:toggle => 'collapse', :target => "#nav-collapse-target"}}
        %span.sr-only Toggle Navigation
        - 3.times do
          %span.icon-bar
      = link_to(image_tag('logo-small.png'), root_path)