#home-sections

  .container-fluid
    %section.row#home
      .container
        .row
          %h1.text-center.page-header
            April 21<sup>st</sup> - April 25<sup>th</sup>, 2014
          .col-xs-12.col-sm-6.col-sm-offset-3
            %p.text-justified.lead
              This is the first year we organize CU Startup Week. Our goal is to connect entrepreneur students from across CU Boulder campus and community members together for a week full of events to showcase our entrepreneurial spirit, explore, educate, discuss and drive our spirit forward. Follow us on Twitter and Facebook for more updates.

        .row#down-arrow
          = link_to '#events' do
            %span.glyphicon.glyphicon-circle-arrow-down.center-block.text-center


  .container
    = render 'events'
    
    %section.row#sponsorship
      .jumbotron
        %h1 Jumbotron
        %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        %p
          %a.btn.btn-primary.btn-lg Learn more
    
    %section.row#about
      .jumbotron
        %h1 Jumbotron
        %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        %p
          %a.btn.btn-primary.btn-lg Learn more
