#home-sections

  .container-fluid

  
    %section.row.well#home
      .container
        .row
          %h1.text-center.page-header
            April 21<sup>st</sup> - April 25<sup>th</sup>, 2014
          .col-xs-12.col-sm-8.col-sm-offset-2
            .text-justified.lead
              :markdown
                This is the first year [InnovateCU](http://innovatecu.com) has organized CU Startup Week. Our goal is to bring entrepreneurial students from across [CU Boulder](http://www.colorado.edu/) campus and community members during a week full of events that showcase our entrepreneurial spirit. We will explore, educate, discuss and drive that spirit forward at this year's CU Startup Week! Follow us on [Twitter](https://twitter.com/custartupweek) and [Facebook](https://www.facebook.com/custartupweek) for more updates.

        .row#down-arrow
          = link_to '#events' do
            %span.glyphicon.glyphicon-circle-arrow-down.center-block.text-center


  
    = render 'events'
    
    = render 'partners'
    
    = render 'about'
