#home-sections

  %section#home
    .container
      %h1.text-center
        April 21<sup>st</sup> - April 25<sup>th</sup>, 2014

  %section#events
    .jumbotron
      %h1 Jumbotron
      %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      %p
        %a.btn.btn-primary.btn-lg Learn more

  %section#sponsorhip
    .jumbotron
      %h1 Jumbotron
      %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      %p
        %a.btn.btn-primary.btn-lg Learn more

  %section#about
    .jumbotron
      %h1 Jumbotron
      %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      %p
        %a.btn.btn-primary.btn-lg Learn more
